<!DOCTYPE html>
<html lang="en">
<head>
    <title>UWatch</title>
    {% block meta %}
    {% endblock %}
</head>
<body>
    {% block content %}

    {% for video in videos %}
    <a href="playback/{{ video.video_url }}">
        <div class="video">
                <img src="{{ url_for('static', filename='uploads/' + video.video_url + '.jpg') }}" width="200" height="200">
                <h3>{{ video.video_name }}</h3>
        </div>
        <hr>
    </a>
    {% endfor %}
    {% endblock %}
</body>
</html>