{% extends "index.html" %}
{% block meta %}
    <meta property="og:title" content="{{ url }}">
    <meta property="og:description" content="{{ description }}">
    {% set image_path = url_for('static', filename=poster).replace('/playback/' + url, '') %}
    <meta property="og:image" content="{{ image_path }}">
{% endblock %}

{% block content %} 
<div class="video-playback">
    <video autoplay="autoplay" controls="controls" preload="preload" {% if poster %}
     poster="{{ url_for('static', filename=poster)}}" {% endif %} width="750px" height="450px">
        <source src="{{ url_for('static', filename=url) }}" type="video/mp4"></source>
    </video>
    <div class="video-info">
        <h2>{{ video.video_name }}</h2>
        <h5>Views: {{ video.views }}</p>
        <p>Author: {{ video.user.channel_name }}</p>
        <h4>Description: {{ video.description }}</p> <hr>
    </div>
    <div class="comments" style="display: grid; right: inherit;">
        <hr>
        <h3>Comments</h3>
        {% if current_user.is_authenticated %}
            <form action="/leaveComment" id="form-comment" method="post">
                <input type="hidden" name="url" id="url" value="{{ url }}">
                <input type="hidden" name="user" id="user" value="{{ current_user.id }}">
                <input type="text" name="comment" id="comment" placeholder="type your comment" maxlength="200" autocomplete="off" required>
                <button type="submit" name="btn" id="btn">SEND COMMENT</button>
            </form>
        {% else %}
            <a href="/sign" id="sign-comments">SIGN IN TO LEAVE A COMMENT</a>
        {% endif %}
        <div id="comment-container">
            {% for comment in comments %}
                <h5>{{ comment.user.channel_name }} - {{ comment.date }}</h5> <br>
                <p>{{ comment.comment }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}