{% extends "index.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="signing">
        <form action="" id="form1" method="post">
            <label>Email</label>
            <input type="email" name="email" placeholder="example@example.com" required>
            <label>Password</label>
            <input type="password" name="psw" placeholder="Type password" required>
            <label>Password check</label>
            <input type="password" name="psw_check" placeholder="Type password again" required>
            <button onclick="addInput()" id="continue">CONTINUE</button><br>
            <a href="/sign">Already have account? Sign in</a>
        </form>
        <form action="" id="form2" style="display: none;" method="post">
            <label>Channel name</label><br>
            <input type="text" name="channel" id="channel" placeholder="Your name of channel" required><br>
            <button type="submit" name="btn" id="btn" value="reg">REGISTER</button><br>
            <a href="/sign">Already have account? Sign in</a>
        </form>
    </div>

    <script>
        var submitButton = document.getElementById("continue");
        submitButton.addEventListener("click", function(event) {
        event.preventDefault(); 
        })
        
        function addInput() {

            var form1 = document.getElementById("form1");
            var form2 = document.getElementById("form2");
            
            var email = form1.elements["email"].value;
            var password = form1.elements["psw"].value;
            var password_check = form1.elements["psw_check"].value;
            
            form2.innerHTML += '<input type="hidden" name="email" id="email" value="' + email + '">';
            form2.innerHTML += '<input type="hidden" name="psw" id="psw" value="' + password + '">';
            form2.innerHTML += '<input type="hidden" name="psw_check" id="psw_check" value="' + password_check + '">';
            form1.style.display= "none";
            form2.style.display= "block";
        }
    </script>
{% endblock %}