{% extends "index.html" %}
{% block content %}
<div class="video-upload">
	<form action="/upload" method="post" enctype="multipart/form-data">
		<dl>
			<h2>Select a video to upload</h2>
			<p>
				<label>Select video(only .mp4 format):</label>
				<input type="file" name="file" autocomplete="off" required> <br>
				<label>Choose preview for the video(only .jpg format)</label>
				<input type="file" name="poster" autocomplete="off"> <br><br>
				<label>Enter name of the video</label>
				<input type="text" name="name" id="name" placeholder="Enter name of video"> <br>
				<label>Enter description to this video</label>
				<textarea type="text" name="descr" id="descr" placeholder="Description to video" height="35px"></textarea>
			</p>
		</dl>
		<p>
			<input type="submit" value="Upload">
		</p>
	</form>
</div>
{% endblock %}