.nav-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 45px;
  background-color: rgb(77, 71, 71);
  margin: 0;
  padding: 0;
  border-bottom: 25%;
}

.logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(to bottom, #0000FF, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav-sign {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  color: white;
}

.user-nav {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  color: white;
}

select {
  font-family: system-ui;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 8px 12px;
  transition: border-color 0.2s ease, outline 0.2s ease;
}

select:focus {
  outline: none;
  border-color: #0000FF;
}

.search {
  width: 340px;
  position: relative;
  margin-top: 8px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -75%);
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  width: 330px;
  background-color: #707b7b;
  border-radius: 5%;
}

#search-button {
  all: unset;
  cursor: pointer;
  width: 46px;
  height: 30px;
  margin-right: 5px;
  box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15%;
  color: aquamarine;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

.content-block {
  padding-top: 50px;
}

.order-buttons {
  margin-top: 15px;
  margin-left: 90px;
  display: flex;
  opacity: 80%;

}

.order-buttons button {
  all: unset;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.order-buttons button:hover {
  transform: scale(1.1);
  color: red;
}

.video-container {
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.video {
  margin: 55px;
  flex-basis: calc(33.33% - 110px);
  transition: all 0.3s ease;
}

.video:hover {
  transform: scale(1.1);
}

.video img {
  border-radius: 5%;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.video-playback {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
}

.video-info h2,
.video-info h4,
.video-info p{
  margin: 0;
}

.video-info h5 {
  opacity: 70%;
  color: rgb(0, 0, 0);
  margin: 0;
}

.video-info{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: left;
}

#sign-comments {
  position: relative;
  font-size: large;
  margin-bottom: 15px;
  margin-left: 45%;
}

#sign-comments:hover {
  color: red;
}

.comments {
  margin-top: 0;
}

#form-comment {
  margin-bottom: 10px;
}

#form-comment input {
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 40px;
  width: 300px;
  text-overflow: ellipsis;
  inline-size: 300px;
  overflow-wrap: break-word;
}

#form-comment button {
  display: flex;
  all: unset;
  cursor: pointer;
  height: 40px;
  width: 90px;
}

#form-comment button:hover {
  color: green;
}

#form-comment input:focus {
  border-color: #00a8ff;
  box-shadow: 0 0 4px #00a8ff;
}

.comment-container p{
  display: flex;
  flex-direction: row;
  width: 200px;
  overflow-wrap: break-word;
}

.signing {
  width: 400px;
  margin-top: 150px;
  margin-left: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(172, 165, 165);
  border-radius: 15px;
  box-shadow: 2px 0px 4px 0px rgb(0, 0, 0, 0.2);
}

.signing form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}

.signing label {
  margin-top: 20px;
  align-items: left;
}

.signing input {
  padding: 10px;
  margin: 5px 0;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signing button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: center;
}

.signing button:hover {
  background-color: #45a049;
}

.signing a {
  align-self: center;
}

.signing a:hover {
  color: rgb(86, 81, 81);
}

.video-upload form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-upload dl {
  margin-bottom: 20px;
}

.video-upload input[type="file"],
.video-upload input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.video-upload input[type="submit"],
.video-upload button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.video-upload textarea {
  width: 300px;
  height: 150px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.video-upload input[type="submit"]:hover,
.video-upload button:hover {
  color: #45a049;
}

.video-manager {
  margin-left: 35px;
  margin-bottom: 25px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video-manager h5 {
  margin-top: 0;
  color: grey;
  opacity: 70%;
  margin-top: 5px;
  margin-left: 5px;
}

.video-manager h3 {
  margin: 0;
}

.video-info img {
  align-self: center;
  border-radius: 5%;
}

.video-info {
  margin-top: 15px;
}

.video-field {
  background-color: #ccc;
  margin-left: 35px;
  width: 400px;
}

.video-buttons {
  align-items: center;
  margin-left: 5px;
  margin-right: 45px;
}

.video-buttons button {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #98bc99;
  color: white;
  border: none;
  cursor: pointer;
}

.video-buttons button:hover {
  color: #707b7b;
}

.video-search {
  align-items: center;
  margin-left: 40px;
}

#h1 {
  margin-left: 40px;
}

.video-search h4 {
  margin: 0;
  color: grey;
  opacity: 70%;
}

.video-search img {
  border-radius: 5%;
}

body {
  margin: 0;
  margin-top: 0;
  font-family: system-ui;
  background-color: rgb(236, 232, 232);
}

#search-bar input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.message {
  background-color: red;
  border-radius: 5%;
  margin-top: 1%;
  margin-left: 1%;
  display: flex;
  width: 350px;
}